
h1{
    color:brown
}

.rebelde{
    color:green;
    font-family: cursive;
    font-size: 60px;
}

.papa{
    background-color: bisque;
    /* <== flexbox */
    /* display: flex; 
    justify-content: space-between; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* height: 40px; */
    /* align-items: center */
}

.hijo{
    font-size: 20px;
    background-color: aqua;
    padding: 10px

}

.hijo:hover{
    font-size: 25px;
    transition: 0.5s;
    background-color: blanchedalmond;
}



