* {
  margin: 0;
}

html {
  font-size: 16px; /* Base size */
}

body {
  height: 100%;
  width: 100%;
  font-family: "Nunito", serif;
  text-align: center;
}

header {
  background-color: #000000d3;
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#logo {
  background: url("./svg/cactus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 105px;
  margin-left: 1.85em;
  width: 125px;
}

section {
  height: 100%;
  background-color: aqua;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  border-right: 1px solid #fff;
  padding: 0.5em 1em;
}

ul li :nth-last-of-type(1) {
  border-right: none;
}

.option {
  color: #fff;
  text-decoration: none;
}

video {
  height: 100%;
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}

#home {
  background-color: #0000008b;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home h2 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
}

#home p {
  color: #fff;
  font-size: 0.9rem;
  margin: 1rem 2rem;
}

.papa-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}
#home a {
  background: linear-gradient(#3dab9f, #3dab7e);
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.3rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  z-index: 2;
}

#down {
  height: 50px;
}

#down img {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #3dab9f;
  border-radius: 100%;
}

#home #down {
  height: 2rem;
  opacity: 0;
  transition: all 0.35s;
  z-index: 1;
}

#home .papa-btn:hover + #down {
  opacity: 0.5;
}

article {
  display: flex;
  justify-content: space-around;
}

article #img1 {
  background-image: url("../../../workshop/img/ajolote1.jpg");
  height: 8rem;
  width: 9rem;
  background-size: cover;
  border-radius: 50%;
  border: 0.25em solid #3dab7e;
  background-position-x: center;
  margin: 0 auto 1.5em;
}

/* /// gallery */
.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery {
  --s: 150px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}

.numbers-container {
  height: 400px;
  width: 300px;
  background-color: #3dab7e;
  position: absolute;
  left: 41%;
}

#numerosMayorAsiete {
  font-size: 40px;
}
#numerosMenorACinco {
  font-size: 55px;
}

.animals-container {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #3dab7e;
  justify-content: center;
}
#animals-title {
  color: brown;
  display: flex;
  flex-direction: column;
}

#animals-selected {
  color: white;
}
#button-gato {
  background-color: bisque;
  border-radius: 20px;
  padding: 10px;
}

#animals-selected-img {
  display: flex;
  flex-wrap: wrap;
}
#animals-selected-img img{
  width: 300px;
  height: 300px;
}